@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Caveat:wght@500&family=Playpen+Sans:wght@300&family=Zeyada&display=swap');
*{
    margin: 0;
    padding: 0 0;
    font-family: 'Playpen Sans', cursive;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #212129;
    color: #fff;
}

/* ---- pre loading ---- */
section{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: #080808;
    animation: animateBg 10s linear infinite;
    z-index: 9000;
}

@keyframes animateBg{
    0%{
        filter: hue-rotate(0deg);

    }
    100%{
        filter: hue-rotate(360deg);

    }

}

section .pre-loader{
    position: relative;
    width: 120px;
    height: 120px;
}


section .pre-loader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

section .pre-loader span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #6EC72D;
    box-shadow: 0 0 10px #6EC72D,
                0 0 20px #6EC72D,
                0 0 40px #6EC72D,
                0 0 60px #6EC72D,
                0 0 80px #6EC72D,
                0 0 100px #6EC72D;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate{
    0%{
        transform: scale(1);
    }
    80%, 100%{
        transform: scale(0);
    }
}


/* ----- header ----- */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 0%;
    width: 80%;
}

.container p{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
nav .fa-solid{
    display: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul{
    text-align: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 1% 1%;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3vw;
    position: relative;

}

nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header_text{
    margin-top: 20%;
    font-size: 30px;
}

.header_text h1{
    font-size: 60px;
}

.header_text h1 span{
    color: #A04C59;
    font-family: 'Caveat', cursive;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Zeyada', cursive;
    font-family: 'Allura', cursive;
    font-size: 80px;

}

.header_text h2{
    font-size: 40px;
    color: #175673;
    margin-top: 5px;
}

.header_text p{
    font-size: 20px;
    color:#fff;
    margin-top: 20px;
}

/* ----- about me ------ */
#about{
    padding: 40px 40px;
    color: #ababab;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.r{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   align-items: center;

}

.r .c1{
    flex-basis: 35%;
}

.scan{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scan .face{
    position: relative;
    width: 300px;
    height: 300px;
    background: url(images/001-r.png);
    background-size: 300px;
}

.scan .face::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: url(images/002-r.png);
    background-size: 300px;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate
{
    0%, 100%
    {
       height: 0%; 
    }
    50%{
        height: 100%;
    }
}

.scan .face::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #3fefef;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 20px #3fefef);
    animation: animation-line 4s ease-in-out infinite;
}

@keyframes animation-line{
    0%, 100%{
        top: 0%;
    }
    50%{
        top: 100%;
    }
}

.scan .face .dots{
    position: absolute;
    inset: 0;
}

.scan .face .dots::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: url(images/003-r.png);
    background-size: 300px;
    animation: face_lines 4s ease-in-out infinite;
}

@keyframes face_lines
{
    0%, 100%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
}


.scan .face .dots::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: url(images/004-r.png);
    background-size: 300px;
    animation: face_points 4s ease-in-out infinite;
}


@keyframes face_points
{
    0%, 25%, 100%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
}

.r .c1 img{
     width: 100%;
     border-radius: 15px;
}

.r .c2{
   flex-basis: 60%;
   text-align: center; 
}

.title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-align: center;

}

.list_titles{
    display: flex;
    margin: 20px 0 40px;
}

.list_titles .links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.list_titles .links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.list_titles .links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 24px;
    bottom: 5px;

}


.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/* ------- Volunteer  ---------- */
#Volunteer {
    padding: 30px 0;
}

.Volunteer-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    text-align: center;
}

.Volunteer-list div{
    background: #175673;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.Volunteer-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #798D97;   
}

.Volunteer-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.Volunteer-list div h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #798D97;   
}

.Volunteer-list div p{
    font-size: 15px;

}

.Volunteer-list div:hover{
    background: #23708A;
    transform: translateY((-10px));
}

/* ---- centificates --- */
#certificates{
    padding: 5px 0;
    text-align: center;
    display: block;
}

.certificates-container{
    position: relative;
    margin: auto;
    width: 50%; 
}

.certificate{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: block;
}

.certificate img{
    width: 100%;
    border-radius: 10px;
    display: flex;
    transition: transform 0.5s;
    height: 100%;

}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #172A46);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3{
    margin-bottom: 2%;
    font-size: 1.2em;
}

.layer a{
    margin-top: 10px;
    color: #172A46;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 2em;
    background: #fff;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    text-align: center;
}

.certificate:hover img{
    transform: scale(1.1);
}


.certificate:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #175673;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    background: #175673;
}

.btn:hover{
    background: #23708A;
}

/* ----888--- */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* ---- contact ---- */
@media only screen and (max-width: 1000px){
    #contact{
        margin-top: 120px;
    }
}

@media only screen and (max-width: 843px){
    #contact{
        margin-top: -120px;
    }
}

@media only screen and (max-width: 760px){
    #contact{
        margin-top: 0px;
    }
}

.contact-left{
    flex-basis: 35%;
    text-align: center;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left h1{
    margin-top: -150px;
}

.contact-left p{
    margin-top: 40px;
}

.contact-left p i{
    color: #23708A;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #23708A;
    transform: translateY(-5px);

}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/* ---- footer ---- */

.copyright{
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

#msg{
    color: #517FE7;
    margin-top: -40px;
    display: block;
}

.languages{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 15px;
}

.languages .lang{
    position: relative;
    width: 200px;
    max-width: 40%;
    height: 120px;
    background: linear-gradient(rgb(23, 86, 115), transparent);
    border: 2px solid rgb(23, 86, 115, 1);
    display: flex;
    transition: 0.5s;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    flex: 1 0 calc(12.5% - 20px); 
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    animation: zooming 1s ease-in-out infinite;
}

@keyframes zooming {
    0%, 100% {
        transform: scale(0.9);
      }
    50% {
        transform: scale(1.15);
      }
}

.languages .lang.pair{
    margin-top: 60px;
}

.languages .lang h2{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgb(23, 86, 115, 0.05);
    text-align: center;
    font-size: 1em;
}

.languages .lang svg, img{
    font-size: 4em;
    height: 70px;
}


/* ----------- Experiences -------*/
.experience{
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.Exp{
    padding: 20px 20px;
    position: relative;
    border-radius: 6px;
    background: #172A46;
    margin-top: 10px;
    text-align: center;

}

.Exp.left{
    left: 0;
    margin-right: 55px;
    /*transform: translateX(-50%);*/
}
.Exp.right{
    left: 100%;
    margin-left: 55px;
    /*transform: translateX(50%);*/
}

.Exp img{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: -25px;
    top: 32px;
    z-index: 10;
    margin-right: -60px;
}

.Exp.right img{
    left: -25px;
    margin-left: -50px;
}


.experience::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #172A46;
    top: 0%;
    left: 100%;
    z-index: -1;
    margin-left: -50px;
    animation: moveline 6s linear forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.Exp h2{
    font-weight: 600;
    font-size: 2vw;
    color: #23708A;
    margin-bottom: 10px;
}

.Exp h3{
    display: inline-block;
    color: #717171;
    font-size: 1.5vw;
}

.Exp p{
    margin-top: 10px;
    font-size: 1.25vw;
}

.Exp .left-arrow
{
    height: 0;
    width: 0;
    position: absolute;
    top: 40px;
    z-index: 1;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #172A46;
    right: -13px;
}

.Exp .right-arrow
{
    height: 0;
    width: 0;
    position: absolute;
    top: 40px;
    z-index: 1;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-right: 17px solid #172A46;
    left: -13px;
}

/* ---- education ---- */
.education{
    padding: 10px 50px;
    position: relative;
    display: flex;
    margin-bottom: 120px;
}


.edu{
    padding: 20px 20px;
    position: relative;
    border-radius: 6px;
    background: #172A46;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 33%;
}



.edu img{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:  solid #23708A;
    z-index: 10;
    top: 102%;
    right: 35%;
}


.education::after{
    content: "";
    position: absolute;
    height: 6px;
    width: 100%;
    background-color: #172A46;
    left: 0%;
    top: 109%;
    z-index: -1;
}

.edu h2{
    font-weight: 600;
    color: #23708A;
    font-size: 1.5vw;
    /*margin-bottom: 10px;*/
}

.edu h3{
    /*display: inline-block;*/
    color: #717171;
    font-size: 1.4vw;
}

.edu p{
    font-size: 1.25vw;
}


/* ---------- skills ---------- */
.skills{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.skl{
    position: relative;
    width: 20%;
    height: 240px;
    background: linear-gradient(rgb(23, 86, 115), transparent);
    border: 1px solid rgba(23, 86, 115, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -5%;
    transform: rotate(calc(var(--r) * 1deg));
    backdrop-filter: blur(10px);
}

.skl::before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: rgba(23, 86, 115, 0.05);
    justify-content: center;
    align-items: center;
    color: #fff;
    display: flex;
    text-align: center;
    font-size: 1vw;

}

.skl img{
    width: 60%;
    height: 45%;
    margin-bottom: 40px;
}

.skills:hover .skl{
    transform: rotate(0deg);
    margin: 0 1%;
    color: #fff;
}

/* projects --------- */
.projects{
    top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2% 2%;
    padding: 40px 40px;
    margin-bottom: 100px;
    justify-content: space-around; 
    height: 100%;
}

.projects .proj{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 28%;
    height: 350px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.55);
    transition: 0.5s;
    background-color: #FFF;
    min-height: 400px;
}

.projects .proj:hover{
    height: 450px;
}


.projects .proj .proj-img{
    position: absolute;
    top: 20px;
    left: 10%;
    width: 80%;
    height: 200px;
    background: #212129;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
}

.projects .proj:hover .proj-img{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.7);
}

.projects .proj .proj-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects .proj .proj-container{
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0 10px;
    color: #000;
    overflow: hidden;
    text-align: center;
    height: 80px;
    transition: 0.5s;
    align-items: center;
}

.projects .proj:hover .proj-container p{
    display: block;
}

.projects .proj:hover .proj-container a{
    display: block;
    border-radius: 10px;
    font-size: 80%;
    color: #FFF;
    padding: 4% 8%;
    background-color: #175673;
    margin-top: 2%;
    text-decoration: none;
}

.projects .proj:hover .proj-container
{
    top: 80px;
    height: 350px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.projects .proj .proj-container h2{
    font-size: 3vh;
    font-weight: 500;
    color: #23708A;
    align-items: center;
    margin-top: 3.5vh;
}

.projects .proj .proj-container p{
    color: #000;
    font-size: 2vh;
    display: none;
    margin-top: 10px;
}


.projects .proj .proj-container a{
    display: none;
}

.projects .proj .proj-container a:hover{
    background-color: #23708A;
}



/*interests */
.card-wrapper {
    position: relative;
    padding: 40px 0;
    margin-top: 50px;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    align-items: center;
    height: 100%;
}
.card{
    width: 40%;
    border-radius: 25px;
    background-color: #FFF;
    min-height: 400px;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #517FE7;
}
.image-content, .card-content{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content h2{
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    margin-right: 25px;
    color: #172A46;
}

.card-content p{
    font-size: 14px;
    color: #175673;
    text-align: center;
}

.image-content{
    row-gap: 5px;
    position: relative;
    border-color: #3fefef;
    padding: 25px 0;
}

.card-content a{
    border-radius: 10px;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #175673;
    margin: 14px;
    text-decoration: none;
}

.card-content a:hover{
    background-color: #23708A;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #175673;
    border-radius: 25px 25px 0 25px;
}

.overlay::before, .overlay::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #175673;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}




/* books */
.my_books{
    position: relative;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    align-items: center;
    text-align: center;
    height: 100%;
}

.my_books .book{
    position: relative;
    height: 250px;
    background: #fff;
    border-radius: 10px;
    margin: 0 5px;
    width: 27%;
    align-items: center;
    text-align: center;
    display: flex;
}


.my_books .book h2{
    font-size: 1.5em;
    display: flex;
    height: 200px;
    color: #175673;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.my_books .book a{
    border-radius: 10px;
    font-size: 60%;
    color: #FFF;
    padding: 8px 16px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    background-color: #175673;
    text-decoration: none;
    display: block;
}

.my_books .book a:hover{
    background-color: #23708A;

}


/* ---------- CSS for responsive ---------- */

@media only screen and (max-width: 850px){
    body{
        text-align: center;
        background: 212129;
    }
    #header{
        background-image: url(images/phone-background.png);
        margin-bottom: 40%;
    }

    .header_text{
        margin-top: 50%;
        font-size: 16px;
    }

    .header_text h1{
        font-size: 40px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    .header_text h1 span{
        font-size: 60px;
    }

    .header_text h2{
        color: #23708A;
    }

    .header_text p{
        color:#fff;
    }

    nav ul{
        background: #172A46;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 60vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 4%;
        left: 50%;
        cursor: pointer;

    }

    .title{
        font-size: 40px;
    }

    .c1, .c2{
        flex-basis: 100%;
    }

    .r{
        text-align: center;
    }

    .c1{
        margin-left: 40px;
    }

    .c2{
        font-size: 14px;
        margin-left: 70px;
        margin-right: 0;
    }

    .school-logo{
        flex-basis: 100%;
    }

    .school-desc{
        flex-wrap: 100%;
    }

    .links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }

    .experience{
        margin: 50px auto;
    }

    .experience::after{
        left: 51px;
    }

    .experience{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .Exp{
        width: 100%;
        left: -10px;
    }


    .Exp.right, .Exp.left{
        left: 0;
    }

    .Exp.left img, .Exp.right img{
        left: -105px;
    }

    .Exp .left-arrow, .Exp .right-arrow{
        border-right: 15px solid #172A46;
        border-left: 0;
        left: -15px;

    }

    .Exp.right{
        left: -55px;
    }

    .Exp.Exp.right img{
        left: -55px;
    }

    .Exp h2{
        font-size: 4vw;
    }
    
    .Exp h3{

        font-size: 3vw;
    }
    
    .Exp p{
        font-size: 2.5vw;
    }

    .edu h2{
        font-size: 3vw;
    }
    
    .edu h3{
        font-size: 2.5vw;
    }
    
    .edu p{
        font-size: 2vw;
    }
    


    /* ---------- skills ---------- */

    .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    .skl{
        width: 42%;
        text-align: center; 
        transform: rotate(calc(var(--x) * 1deg));
        margin: 0 -5%;
        margin-bottom: 25px;
    }


    .skl::before{
        content: attr(data-text);
        position: absolute;
        bottom: 0;
        height: 100px;
        width: 100%;
        background: rgba(23, 86, 115, 0.05);
        justify-content: center;
        align-items: center;
        color: #fff;
        display: flex;
        text-align: center;
        font-size: 12px;

    }

    .skl img{
        width: 60%;
        height: 45%;
        margin-bottom: 40px;
    }

    .skills:hover .skl{
        transform: rotate(0deg);
        margin: 0 3%;
        color: #fff;
        width: 20%;

    }

    .skills:hover img{
        width: 50%;
        height: 35%;
        margin-bottom: 40px;
    }

    /* ---- education ---- */
    .education{
        padding: 10px 10px;
        position: relative;
        display: block;
        margin-bottom: 120px;
    }


    .edu{
        margin-top: 120px;
        width: 100%;
    }



    .edu img{
        position: absolute;
        top: -110px;
        right: 35%;
    }


    .edu::after{
        content: "";
        position: absolute;
        height: 6px;
        width: 100%;
        background-color: #172A46;
        left: 0%;
        top: -60px;
        z-index: -1;
    }

    .education::after{
        display: none;
    }

    .edu h2{
        font-weight: 400;
        color: #23708A;
        /*margin-bottom: 10px;*/
    }

    .edu h3{
        color: #717171;
    }

    /* books */
    .my_books{
        margin-bottom: 50%;
    }

    .my_books .book{
        width: 45%;
        height: 100%;
        align-items: center;
        text-align: center;
    }

    .my_books .book a{
        left: 30%;
    }

    .my-pubs .pub-group{
        margin-bottom: 100px;
    }

    .my-pubs .pub-group .pub-group-desc{
        margin-top: -120px;
    }

    .my-pubs .pub-group .pub-group-desc h2{
        font-size: 16px;
    }
    .my-pubs .pub-group .pub-group-desc p{
        font-size: 12px;
    }

    .my-pubs .pub-group a{
        margin-top: 65%;
    }
    
    .projects .proj{
        width: 47%;
    }

    .card{
        width: 90%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 650px){
    .projects .proj{
        width: 90%;
    }

    .my_books .book{
        width: 95%;
    }
}