*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;

}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav .fa-solid{
    display: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo{
    width: 200px;
    margin-top: 20px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #172A46;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header_text{
    margin-top: 20%;
    font-size: 30px;
}

.header_text h1{
    font-size: 60px;
}

.header_text h1 span{
    color: #517FE7;

}

.header_text h2{
    font-size: 40px;
    color: #ff004f;
    margin-top: 5px;
}

.header_text p{
    font-size: 20px;
    color:#fff;
    margin-top: 20px;
}

/* ----- about me ------ */
#about{
    padding: 80px 0;
    color: #ababab;
}

.r{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.r .c1{
    flex-basis: 35%;
}

.r .c1 img{
     width: 100%;
     border-radius: 15px;
}

.r .c2{
   flex-basis: 60%; 
}

.title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-align: center;

}

.list_titles{
    display: flex;
    margin: 20px 0 40px;
}

.list_titles .links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.list_titles .links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.list_titles .links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 24px;
    bottom: 5px;

}


.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* ---- education */
.school{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
}

.school-logo{
    flex-basis: 25%;
    text-align: center;
}

.school-logo img{
    height: 100%;
}

.school-desc{
    flex-basis: 70%;
}

.section-heading{
    color: #ff004f;
    font-size: 20px;
}

.section-subheading{
    color: #517FE7;
    font-size: 18px;
}

.date-range{
    color: #6EC72D;
    font-size: 18px;
}

.description{
    font-size: 16px;
}
/* ------- Volunteer  ---------- */
#Volunteer {
    padding: 30px 0;
}

.Volunteer-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    text-align: center;
}

.Volunteer-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.Volunteer-list div i{
    font-size: 50px;
    margin-bottom: 30px;   
}

.Volunteer-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.Volunteer-list div h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.Volunteer-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.Volunteer-list div:hover{
    background: #172A46;
    transform: translateY((-10px));
}

/* ---- portfolio ---------*/
#portfolio{
    padding: 5px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #172A46);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #172A46;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}


.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;

}

/* ---- centificates --- */
#certificates{
    padding: 5px 0;
    text-align: center;
}

.certificates-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    box-sizing:border-box;
    position: relative;
    margin: auto;
    text-align: center;
    height: 60%;
    width: 55%; 
    margin-top: 5px;
    margin-bottom: 10px;
}

.certificate{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: none;
}

.certificate img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #172A46);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #172A46;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.certificate:hover img{
    transform: scale(1.1);
}


.certificate:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}

/* ----888--- */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* ---- contact ---- */
.contact-left{
    flex-basis: 35%;
    text-align: center;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);

}


.btn.btn2{
    display: inline-block;
    background: #ff004f;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/* ---- footer ---- */

.copyright{
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

#msg{
    color: #517FE7;
    margin-top: -40px;
    display: block;
}

/* ---------- CSS for responsive ---------- */

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phone-background.png);
    }

    .header_text{
        margin-top: 80%;
        font-size: 16px;
    }

    .header_text h1{
        font-size: 30px;
    }
    
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    .header_text h1 span{
        color: #172A46;
    }
    
    .header_text h2{
        color: #6EC72D;
    }
    
    .header_text p{
        color:#ff004f;
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

    }

    .title{
        font-size: 40px;
    }

    .c1, .c2{
        flex-basis: 100%;
        text-align: center;
    }

    .r{
        text-align: center;
    }


    .c2{
        font-size: 14px;
    }

    .school-logo{
        flex-basis: 100%;
    }

    .school-desc{
        flex-wrap: 100%;
    }

    .links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }

    .certificates-container{
        width: 95%; 
    }

}